body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 100vh;
    background-color: rgb(39,41,68);
    font-family: sans-serif;
    

}

.score{
    color: rgb(201, 201, 201);
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;

}
.player-score{
    border: 1.2px solid rgb(17, 148, 17);
    width: 200px;
    text-align: center;
}

.computer-score{
    border: 1.2px solid darkorange;
    width: 200px;
    text-align: center;
}


.score h2{
    font-size: 1.4rem;

}

.score p{
    text-align: center;
    font-size: 1.1rem;
   
}

.intro{
    color: rgb(201, 201, 201) ;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: opacity 0.5s ease;
    
}

.intro h1{
    font-size: 2.3rem;
}

.intro button,
.options button{
    border: none;
    outline: none;
    border-radius: 3px;
    width: 120px;
    height: 40px;
    background-color: rgb(16, 107, 16);
    color:  rgb(201, 201, 201);
    font-size: 1.2rem;
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
    margin: 0 15px;

}

.match{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    margin-top: 20px;
    transition: opacity 0.9s ease 0.5s;
    
}

.winner{
    text-align: center;
    color:rgb(201, 201, 201) ;
    font-size: 1.4rem;
}

.hands,
.options{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hands .player-hand{
    transform: rotateY(180deg);
}

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn{
    opacity: 1;
    pointer-events: all;
    
}

@keyframes shakePlayer {
    0%{
        transform: rotateY(180deg) translateY(0px);
    }
    15%{
        transform: rotateY(180deg) translateY(-50px);
    }
    25%{
        transform: rotateY(180deg) translateY(0px);
    }
    35%{
        transform: rotateY(180deg) translateY(-50px);
    }
    50%{
        transform: rotateY(180deg) translateY(0px);
    }
    65%{
        transform: rotateY(180deg) translateY(-50px);
    }
    75%{
        transform: rotateY(180deg) translateY(0px);
    }
    85%{
        transform: rotateY(180deg) translateY(-50px);
    }
    100%{
        transform: rotateY(180deg) translateY(0px);
    }
    
}

@keyframes shakeComputer {
    0%{
        transform:  translateY(0px);
    }
    15%{
        transform:  translateY(-50px);
    }
    25%{
        transform:  translateY(0px);
    }
    35%{
        transform:  translateY(-50px);
    }
    50%{
        transform:  translateY(0px);
    }
    65%{
        transform:  translateY(-50px);
    }
    75%{
        transform:  translateY(0px);
    }
    85%{
        transform:  translateY(-50px);
    }
    100%{
        transform:  translateY(0px);
    }
    
}




